#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 200px;
  padding-top: 0px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
